<div *ngIf="catalogItem">

    <h2> {{catalogItem.itemName}}</h2>

    <!-- need to display item image  -->
    <img [src]="srcImage" style="width: 300px;height: 300px;">
    <br>
    <p> $ {{catalogItem.itemPrice}} Cost Per Item </p>

    <p> choose quantity </p>
    <select name="quantity" id="quantity" [(ngModel)]="quantity" (change)="changeQuantity()">
        <option> 0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
    </select>


    <p> Total: $ {{purchaseAmount}} Purchase Amount </p>
    <button onclick="addItemToCart()"> Add To Cart</button>
    <p> {{itemAddedToCart}}</p>

    <button [routerLink]="['/login']"> Back</button>

    <!-- need to route back in button [routerLink]= "['/mainmenu']" -->

    <!-- item price , quantity box where they can choose the quantity  -->
    <!-- button for them to add stuff to there cart -->

</div>