<p>welcome works!</p>

<h1> Welcome to Trader Clothes! <h1>
<br>

<h3> Enter New User Information</h3>

<div>
<label for="firstName"> 
    First Name:  <input type="text" id = "firstName" [(ngModel)] = "firstName"> 
</label>

<label for="lastName"> 
    Last Name:  <input type="text" id = "lastName" [(ngModel)] = "lastName"> 
</label>

<label for="userName"> 
    Username:  <input type="text" id = "userName" [(ngModel)] = "userName"> 
</label>

<label for="email"> 
    Email:  <input type="text" id = "email" [(ngModel)] = "email"> 
</label>

<label for="password"> 
    Password:  <input type="password" id = "password" [(ngModel)] = "password">
</label>

<label for="address"> 
    Address:  <input type="address" id = "address" [(ngModel)] = "address">
</label>

<label for="cardNumber"> 
    Card Number:  <input type="text" id = "cardNumber" [(ngModel)] = "cardNumber"> 
</label>

</div>

<div>
    <p>Create Account </p>
    <button (click) = "onSignUp()"> Create Account </button>
</div>

<div>
    <p>
        Or, if you are an existing user, login here
    </p>
    <button [routerLink]= "['/login']"> Login </button>
</div>




