h1.header {
    text-align: center;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

div.images {
    margin-top: 0%;
    margin-left: 85%;
}

div.btn {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* button.btn1 {
    background-color: beige;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    padding: 20px 70px;
} */

button.btn1 {
    background-color: beige;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;

    width:120px;
    height:50px;
    text-align:center;
    line-height:1.1em;
    font-size:1em;
}

button.btn2{
    background-color: beige;
    margin-left: 150px;
    margin-top: 50px;
    
    width:120px;
    height:50px;
    text-align:center;
    line-height:1.1em;
    font-size:1em;
}
