<div class = 'images'>
<img (click) = 'profileInfo()' src="http://profile.jpg" alt="profile image ">
<img (click) = 'cart()' class = 'image1' src="http://shopping-cart.png" alt="cart image">
</div>

<h1 class = 'header'>Personal Information</h1>


<table class = 'center'>
    <tr>Hello <!--{{firstname}}  {{lastname}} -->!</tr>
    <!-- <tr>First Name: </tr>
    <tr>Last Name: </tr> -->
    <tr>Email: </tr>
    <tr>Username: </tr>
    <tr>Address: </tr>
</table>

<!-- <p> First Name: {{user.firstName}}</p> -->


<br>
<br>

<div class = 'btn'>
<button class = 'btn1' (click) = 'resetPass()'>Reset Password</button>
<button class = 'btn1' (click) = 'updateAdd()'>Update Address</button>
<br>
<button class = 'btn1' (click) = 'changeEmail()'>Change Email</button>
<button class = 'btn1' (click) = 'payInfo()'>Payment Info</button>
<br>
<!-- Do we want this here? -->
<button class = 'btn2' (click) = 'home()' >Return Home</button>
</div>